/*-- scss:defaults --*/
$body-bg: #E9EBEE;
$body-color: #18273F;
$link-color: #7e0b83;
$presentation-heading-color: #0c244b;
$presentation-font-size-root: 	35px;
$code-block-font-size:  0.45em;


/*-- scss:rules --*/

.hi-pink {
  font-weight: 600;
  color: #bd0c00 !important;
}